@font-face {
    font-family: 'ITCKRIST';
    src: url('../fonts/ITCKRIST.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ADLaMDisplay-Regular';
    src: url('../fonts/ADLaMDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.adlam {
    font-family: 'ADLaMDisplay-Regular', Arial;
}

body {
    font-family: 'ITCKRIST', Arial;
    background-image: url('../images/fondobby.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* Ajusta el color del texto para que sea legible sobre la imagen */
    color: #ffffff;
    padding-bottom: 80px;
}

.fixed-bottom-button {
    position: fixed;
    bottom: 1px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  }
  
  .fixed-bottom-button button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  

h1,
h2,
h3,
h4,
h5,
h6,
p,
.subtitle {
    color: #000000;
}

.subtitle-big {
    font-size: 1.4em;
    color: #000000;
}

.subtitle {
    font-size: 1.2em;
}

.event-info,
.gift-selection,
.confirmation {
    margin: 20px;
}

#countdown {
    /* background-color: #f8f9fa; */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

#countdown div {
    text-align: center;
}

#countdown h3 {
    margin: 0;
}

.gift-list {
    display: flex;
    flex-wrap: wrap;
}

.gift-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: calc(33% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.gift-item img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Clouds background but only a little bit top of the page */
.clouds-bg {
    position: absolute;
    top: 300px;
    /* left: 100px; */
    z-index: -1;
}

.rounded-image {
    border-radius: 50%;
    width: 200px;
    /* Ajusta este valor según el tamaño que desees */
    height: 200px;
    /* Debe ser igual al width para formar un círculo perfecto */
    object-fit: cover;
    object-position: center;
    margin: 20px auto;
    /* Centra la imagen y añade un margen arriba y abajo */
    display: block;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    /* Opcional: añade una sombra suave */
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    /* Opcional: añade una sombra suave */
}

.white-shadow {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
}